.title{
	text-align: left;
	float: left;
	width: 50%;
	height: 150px;

}
.textAbove{
	float: left;
	width: 50%;
	height: 150px;
}
.divisor{
	clear: both;
}
.imagen1{
	float: left;
	width: 32%;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
}
.imagen3{
	float: left;
	width: 32%;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
}
/*a:hover{

	background: magenta;
}
*/
